<h1>Topics</h1>
 <% @topics.each do |topic| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to topic.name, topic %>
         <%= topic.description %>
       </h4>
     </div>
   </div>
 <% end %>
 <% if user_is_authorized_for_topics? %>
     <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
 <% end %>