<h1>About Bloccit</h1>
<p>Created by: Torie van Dijk</p>


<button class= "social-btn"><a href="https://www.facebook.com/torie.vandijk" target=_blank><img src="https://www.seeklogo.net/wp-content/uploads/2011/06/facebook-icon-logo-vector.png"></a></button>
<button class= "social-btn"><a href="https://twitter.com/TorievanDijk" target=_blank><img src="https://upload.wikimedia.org/wikipedia/commons/7/74/Twitter_Logo_Mini.svg"></a></button>
<button class= "social-btn"><a href="https://www.instagram.com/torievandijk/" target=_blank><img src="http://www.socialtalent.co/wp-content/uploads/2015/02/icon320x320.png"></a></button>